.home {
    height: 100vh;

    .swiper {
        .swiper-wrapper {
            .swiper-slide {
                .box {
                    height: 100vh;
                    display: flex;
                    align-items: center;
                    background-size: cover !important;
                    background-position: center !important;
                    justify-content: flex-end;

                    .container {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        margin: auto;

                        &.right{
                            justify-content: right;

                            .content{
                                text-align: right;
                            }
                        }

                        &.left{
                            justify-content: left;

                            .content{
                                text-align: left;
                            }
                        }

                        .content {
                            color: $white;
                            padding: 0 120px;

                            h1 {
                                font-size: 43px;
                                font-weight: 300;
                                line-height: 1.4;
                                margin-bottom: 20px;
                            }

                            h2 {
                                font-size: 16px;
                                font-weight: 600;
                                margin-bottom: 20px;
                                padding-left: 4px;
                            }
                        }

                        @media (max-width: $tablet) {
                            justify-content: center !important;

                            .content {
                                text-align: center !important;
                                padding: 0;

                                h1 {
                                    font-size: 39px;
                                    font-weight: 300;
                                    line-height: 1.4;
                                    margin-bottom: 20px;
                                }

                                h2 {
                                    font-size: 14.5px;
                                    font-weight: 600;
                                    margin-bottom: 20px;
                                    padding-left: 4px;
                                }
                            }
                        }

                        @media (max-width: $mobile) {
                            justify-content: center;

                            .content {
                                text-align: center;

                                h1 {
                                    font-size: 30px;
                                    font-weight: 300;
                                    line-height: 1.4;
                                    margin-bottom: 20px;
                                    padding: 0 5px;
                                }

                                h2 {
                                    font-size: 12.5px;
                                    font-weight: 600;
                                    margin-bottom: 20px;
                                    padding-left: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: $mobile) {
            .swiper-button-next::after,
            .swiper-button-prev::after {
                display: none;
            }
        }

        .swiper-button-next::after,
        .swiper-button-prev::after {
            -webkit-tap-highlight-color: transparent;
            font-size: 20px;
            color: rgba(255, 255, 255, 0.523);
        }

        .swiper-pagination{
            bottom: 40px !important;
        }

        .swiper-pagination-bullet-active {
            background-color: $white !important;
        }

        .swiper-pagination-bullet{
            background-color: rgba(255, 255, 255, 0.523) !important;
        }
    }
}